@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #020617;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
section {
  padding: 100px 20px;
  position: relative;
  z-index: 2;
}

/* ===== GRID BACKGROUND ===== */
.grid-bg {
  position: fixed;
  inset: 0;
  z-index: 0;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 60px;
}

/* ===== PARTICLES ===== */
#particles {
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

/* ===== NAVBAR ===== */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(2, 6, 23, 0.6);
  backdrop-filter: blur(12px);
  z-index: 3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
nav h2 {
  color: #4fa3ff;
  font-weight: 600;
}
nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #c9d6ff;
  transition: 0.3s;
}
nav a:hover {
  color: #4fa3ff;
}
.menu-btn {
  display: none;
}
/* Hero Section */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 20px 40px;
}
.hero-content {
  text-align: center;
}
.clients_div {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.hero-content .h1 {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(90deg, #4fa3ff, #ff6ec4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.part_1 h1 i {
  font-size: 40px;
  color: #4fa3ff;
  margin: 0 10px;
}
.part_1 h1 {
  color: #fff;
}

.buttos{
    margin: 20px 0;
}
.buttos button{
    padding: 10px 50px;
    margin: 20px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
}
.buttos button.get_start{
    background: #4fa3ff;
    color: #fff;
}
.buttos button.get_start:hover{
    background: #3a82d1;
}
.buttos button.Explore_btn{
    background: transparent;
    color: #4fa3ff;
    border: 1px solid #4fa3ff;
}
.buttos button.Explore_btn:hover{
    background: #4fa3ff;
    color: #fff;
}

/* Setions */
.about {
  position: relative;
  width: 100%;
  padding: 20px 40px;
  background: #020617;
}

@media (max-width: 768px) {
  nav {
    padding: 15px 20px;
  }
  nav ul {
    display: none;
  }
  .menu-btn {
    display: block;
    background: none;
    border: none;
    color: #4fa3ff;
    font-size: 1.4rem;
    cursor: pointer;
  }
}
